.md-typeset {
    line-height: 1.8;
}

.md-typeset .admonition,
.md-typeset details {
    font-size: .8rem;
}

/* 標記文字 */
.md-typeset code {
    background-color: transparent;
    color: #dd7b12;
    font-size: .8rem;
}

.md-typeset mark {
    background-color: #ffe5fb;
}

